# Análisis de sensibilidad

In [1]:
import pandas as pd
from tqdm import tqdm
import seaborn as sb

from model import optimize_beds

## Efecto de los costos

In [2]:

n_beds = 100
n_patients = 80
all_metrics = []
metrics = []

a, b, c = 5, 5, 5
for a in tqdm(range(0, 11, 1)):
    general_metrics, metrics_by_block = optimize_beds(n_beds, n_patients, [a, b, c])
    general_metrics.update({"a": a, "b": b, "c": c})
    all_metrics.append(general_metrics )

# a, b, c = 5, 5, 5
# for b in tqdm(range(0, 11, 1)):
#     metrics = optimize_beds(n_beds, n_patients, [a, b, c])
#     metrics.update({"a": a, "b": b, "c": c})
#     all_metrics.append(metrics)


# a, b, c = 5, 5, 5
# for c in tqdm(range(0, 11, 1)):
#     metrics = optimize_beds(n_beds, n_patients, [a, b, c])
#     metrics.update({"a": a, "b": b, "c": c})
#     all_metrics.append(metrics)

# metrics = pd.DataFrame(all_metrics)
metrics.to_csv("cost_analysis.csv")

100%|██████████| 11/11 [01:36<00:00,  8.82s/it]
100%|██████████| 11/11 [01:46<00:00,  9.70s/it]
100%|██████████| 11/11 [01:31<00:00,  8.31s/it]

In [5]:
metrics = pd.DataFrame(all_metrics)
metrics.to_csv("cost_analysis.csv")

In [7]:
metrics

    total_distance  beds_changed  not_ideal  status   a   b   c
0            14750             1         24       2   0   5   5
1             6020             1        245       2   1   5   5
2             6020             1        245       2   2   5   5
3             6020             1        245       2   3   5   5
4             6020             1        245       2   4   5   5
5             6020             1        245       2   5   5   5
6             6020             1        245       2   6   5   5
7             6020             1        245       2   7   5   5
8             6020             1        245       2   8   5   5
9             6020             1        245       2   9   5   5
10            6020             1        245       2  10   5   5
11            6020            20        245       2   5   0   5
12            6020             1        245       2   5   1   5
13            6020             1        245       2   5   2   5
14            6020             1        245       2   5   3   5
15            6020             1        245       2   5   4   5
16            6020             1        245       2   5   5   5
17            6020             1        245       2   5   6   5
18            6020             1        245       2   5   7   5
19            6020             1        245       2   5   8   5
20            6020             1        245       2   5   9   5
21            6020             1        245       2   5  10   5
22            6020             1        286       2   5   5   0
23            6020             1        245       2   5   5   1
24            6020             1        245       2   5   5   2
25            6020             1        245       2   5   5   3
26            6020             1        245       2   5   5   4
27            6020             1        245       2   5   5   5
28            6020             1        245       2   5   5   6
29            6020             1        245       2   5   5   7
30            6020             1        245       2   5   5   8
31            6020             1        245       2   5   5   9
32            6020             1        245       2   5   5  10